<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Examples-Mobile</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>

    <% var include = 'styles'; %>
    <% include components/app.html %>
    <% include components/header.html %>
    <% include components/subheader.html %>
    <% include components/feed.html %>
    <% include components/doc.html %>
    <% include components/write.html %>

  </head>
  <body>

    <% var include = 'templates'; %>
    <% include components/app.html %>
    <% include components/header.html %>
    <% include components/subheader.html %>
    <% include components/feed.html %>
    <% include components/doc.html %>
    <% include components/write.html %>

    <div id="app">
        <header title="Examples-Mobile server"></header>

        <subheader></subheader>

        <div class="content">
           <router-view></router-view>
        </div>

        <div class="footer">
          <p>Made with ♥ by Aloïs Deniel</p>
          <a href="https://github.com/aloisdeniel/mobile-examples">Github</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.6.2/vue-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

   <% var include = 'scripts'; %>
   <% include components/header.html %>
   <% include components/subheader.html %>
   <% include components/feed.html %>
   <% include components/doc.html %>
   <% include components/write.html %>

    <script>

     var routes = {
       '/feed': { name: 'feed', component: component_feed },
       '/documentation': { name: 'documentation', component: component_doc('documentation') },
       '/help': { name: 'help', component: component_doc('help') },
     }

     // Filters
     Vue.filter('marked', (value) => marked(value))
     Vue.filter('selected', (value) => value ? 'selected' : 'unselected')
     Vue.filter('moment', (value) => moment(value).startOf('minute').fromNow())

     Vue.component('header', component_header);
     Vue.component('subheader', component_subheader);
     Vue.component('write', component_write);

     var router = new VueRouter();
     router.map(routes)
     router.redirect({ '/' : '/feed' })

     </script>

     <% include components/app.html %>

     <script>

      var App = Vue.extend(component_app);

      router.afterEach(function (transition) {
        router.app.$broadcast('selected-tab', transition.to.name);
      })

      router.start(App, '#app')
    </script>
  </body>
</html>
