<%if (include === 'templates') { %>

<template id="template-feed">
  <div class="action-bar">
    <a class="button" v-on="click: write()"><i class="ion-paper-airplane"></i></a>
    <a class="button" v-on="click: update()"><i class="ion-refresh"></i></a>
  </div>
  <div class="feed-message shadow" v-repeat="feed">
    <h3>{{ author }} <span>{{ date | moment }}</span></h3>
    <p>{{ content }}</p>
  </div>
</template>

<%} else if (include === 'styles') {%>

<style>
.shadow { box-shadow: 1px 1px 6px 0px #ddd;}
.action-bar { height: 25px; width: 75%;  margin: 0px auto;}
.feed-message { margin: 20px auto; width: 75%; background: #fff; border-radius: 4px;}
.feed-message h3 { background: #333; color: #fff; font-size: 13px; padding: 10px 30px; margin: 0px; border-radius: 4px 4px  0px 0px;}
.feed-message h3 span { color: #bbb; font-size: 11px; margin-top:1px; float: right;}
.feed-message p { color: #666; font-size: 12px; padding: 30px; margin: 0px; }
</style>

<%} else if (include === 'scripts') {%>

<script>
var component_feed = {
  props: { feed: { type: Array, default: () => [] }},
  template: '#template-feed',
  created: function(){
    var vm = this;
    this.$on('update-needed', function(value) { vm.update(); })
  },
  methods : {
    write: function() {
      this.$dispatch('action-write', true);
    },
    update: function() {
      console.log('start update')
      var vm = this;
      $.get('/api/feed?limit=2000', function(data) { vm.feed = data.messages; });
    }
  },
  route: { activate: function (transition) { this.update(); transition.next(); }
 }
};
</script>

<%}%>
